.ArticleDetails {
    min-height: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary-color);
}

.avatar {
    margin: 0 auto;
}

.block code {
    color: var(--inverted-primary-color);
}
