.app_purple_theme {
    --bg-color: #4b0072;
    --inverted-bg-color: #f3e6ff;
    --primary-color: #20e3af;
    --secondary-color: #66bba0;
    --inverted-primary-color: #ff76f2;
    --inverted-secondary-color: #b35aff;

    // skeleton
    --skeleton-color: #d2d2de;
    --skeleton-shadow: #8b71b4;

    // code
    --code-bg: #1e0e3d;

    // card
    --card-bg: #7605b0;
}
