.app_purple_theme {
    --bg-color: #4b0072;
    --inverted-bg-color: #f3e6ff;
    --primary-color: #20e3af;
    --secondary-color: #66bba0;
    --inverted-primary-color: #ff76f2;
    --inverted-secondary-color: #b35aff;
}
